/* .LeftList used to be li but that effects all li */
.LeftList {
    float: left;
}
/* .LeftListDrop was made special because the drop already had a class and there was a reference issue */
#LeftListDrop{
    float: left;
}
/* used to be ul */
#navBarList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/* important only way i could get it to stick */
.nav-bar{
    position:fixed;
    top: 0;
}
/* .LeftList used to be li but that effects all li */
.LeftList a, .dropbtn {
    display: inline-block;
    color: #1BF522;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.LeftList a:hover, .dropdown:hover .dropbtn {
    background-color: #1BF522;
    color: #000000;
}
.LeftList .dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #1BF522;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #1AEBD2;}
.dropdown:hover .dropdown-content {
    display: block;
}



/* old css */
img {
    max-width: 30%;
    height: auto;
    float: right;
}
#mainHEAD{
    background-color: #B4D1D6;
    color: #30868F;
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 280px;
    border: #30868F;
border-radius: 50px 20px;

} 

.BACK{
    background-color: #d7d0c0;
}
.titleHEAD{
   background-color: #A195FC;
   color: #51548D;
   padding: 1px;
   text-align: center;
   padding: 10px;
   margin: auto;
   width: 280px;
   border: #A195FC;
   border-radius: 50px 20px;
}

.subHEAD{
   text-align: left;
   background-color: #a49470;
   color: #1A367A;
   padding: 5px;
   width: 100px;
   border-radius: 10px 25px 65px;
}

.mainBODY{
    color: #1A367A;
    padding: 0px;
}

.linDIV{
    color: #A195FC;
    padding: 1px #A195FC;
}


/* MOBILE VERSION _+__+_+_+_+_+_+_+_+__+_+_+_+_+_+_+_+_+_+_+_+_+_+_+____+++++_+__*/

@media screen and (max-width:600px){
    img {
        max-width: 10%;
        height: auto;
        float: right;
    }
    #mainHEAD{
        background-color: #B4D1D6;
        color: #30868F;
        padding: 5px;
        width: 150px;
        border-radius: 20px 50px;
    } 
    .BACK{
        background-color: #ccc8b2;
    }
   .titleHEAD{
       background-color: #A195FC;
       color: #51548D;
       padding: 5px;
       width: 150px;
       border-radius: 20px 50px;
    }

    .subHEAD{
       text-align: left;
       background-color: #a49470;
       color: #1A367A;
       padding: 5px;
       width: 100px;
       border-radius: 10px 25px 65px;

    }

    .mainBODY{
        color: #1A367A;
        padding: 0px;
    }
    .text{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
   .linDIV{
        color: #A195FC;
        padding: 1px #A195FC;
    }

    
}

#text {
    background-color: #d7d0c0;
    margin-top: 0px;
    display: block;
}
#text li{
    color: #1a367a;
    display: block;
}

/* .test{
    style="color: #1a367a;"
} */

/* #dg{
    color: red;
    display: block;
} */

